<footer id="footer">
	<div class="center">
		<div class="suzy-container">

			<article>
				<ul>
					<li><i class="fa fa-user-circle" aria-hidden="true"></i> © Serge Crampon | 2019</li>
					<li>Mentions légales</li>
				</ul>
			</article>
			<article>
				<p>ATELIER <br>13 bis rue de Vendée 49450 <br>VILLEDIEU LA BLOUERE (FR) </p>
				<p>MOB : 33 (0)6 82 29 53 79</p>
			</article>
			<article>
		<!--<form class="formulaire" method="post" action="#">
			<label for="search"><i class="fa fa-search" aria-hidden="true"></i></label>
	
			<input type="text" id="search" class="champ" name="search" value="" placeholder="search"/>
	
			<input type="submit" id="envoi" value="Ok" />
	
		</form>-->
			</article>
			
		</div>
		</div>
</footer>