        <div class="modal">
          <div class="">
            <h1>Titre</h1>
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, quo.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus fuga, alias aspernatur eaque ut, voluptate quod doloremque tempora explicabo repellendus iusto pariatur cupiditate aliquid repudiandae omnis facilis consectetur numquam similique.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus fuga, alias aspernatur eaque ut, voluptate quod doloremque tempora explicabo repellendus iusto pariatur cupiditate aliquid repudiandae omnis facilis consectetur numquam similique.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus fuga, alias aspernatur eaque ut, voluptate quod doloremque tempora explicabo repellendus iusto pariatur cupiditate aliquid repudiandae omnis facilis consectetur numquam similique.</p>

            <div class="cols-3">
              <div><img src="assets/images/datas/50.jpg" alt=""></div>
              <div><img src="assets/images/datas/51.jpg" alt=""></div>
              <div><img src="assets/images/datas/60.jpg" alt=""></div>
            </div>


            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus fuga, alias aspernatur eaque ut, voluptate quod doloremque tempora explicabo repellendus iusto pariatur cupiditate aliquid repudiandae omnis facilis consectetur numquam similique.</p>
            <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, quo.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus fuga, alias aspernatur eaque ut, voluptate quod doloremque tempora explicabo repellendus iusto pariatur cupiditate aliquid repudiandae omnis facilis consectetur numquam similique.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus fuga, alias aspernatur eaque ut, voluptate quod doloremque tempora explicabo repellendus iusto pariatur cupiditate aliquid repudiandae omnis facilis consectetur numquam similique.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus fuga, alias aspernatur eaque ut, voluptate quod doloremque tempora explicabo repellendus iusto pariatur cupiditate aliquid repudiandae omnis facilis consectetur numquam similique.</p>
            </div>
          <div class="close_button">
          <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
          <polygon fill="{{color}}" points="30,0.465 29.535,0 15,14.535 0.465,0 0,0.465 14.535,15 0,29.535 0.465,30 15,15.465 29.535,30 30,29.535 
          15.465,15 "/></svg>
          </div>
        </div>
