<article class="imgbox">
  <a href="">
    <img src="assets/images/datas/{{image}}" alt="">
    <h2 class="title">10.12.2019</h2>
    <div class="caption {{color}}">
      <ul id="" class="">
        <li class=""><strong>1336 (histoires de Fralib)</strong></li>
        <li class="">Philippe Durand</li>
      </ul>

    </div>
  </a>
</article>