<a href="">
  <article class="box">
    <header>

      <h4><i class="far fa-plus-circle"></i> Info</h4>

    </header>
    <main>
      <h5>Vernissage</h5>
      <p>mercedi 12 octobre</p>

      <p>Au Musée d'Art et d'histoire de Cholet</p>
    </main>
    <footer>
      <p>Publié le 4.12.2019</p>
    </footer>
  </article>
</a>