<article class="box white">
  <a href="">
    <img src="assets/images/datas/{{image}}" alt="">
    <main>
      <h4>Lorem ipsum dolor sit amet, consectetur.</h4>
      <span class="more"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
    </main>
  </a>
</article>