---
layout: default.hbs
title: single-2
---


{{!>header}}
{{>nav addId='-bottom'}}
{{!>nav}}


<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- 
<p class="button-left">Melissa Laveaux + Botibol</p>
<p class="button-right">Bernard Lubat + André Minvielle + Fabrice Vieira</p>
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<a href="#">
    <div class="timeline-previous">
        <i class="fa fa-chevron-left"></i>

        <span class="timeline-content"><img src="assets/images/datas/33-salam.jpg" alt="">Melissa Laveaux + Botibol
            <br /> vendredi 14 novembre</span>
    </div>
</a>

<a href="#">
    <div class="timeline-next">
        <i class="fa fa-chevron-right"></i>

        <span class="timeline-content"><img src="assets/images/datas/67-candide.jpg" alt="">Melissa Laveaux + Botibol
            <br /> vendredi 14 novembre</span>
    </div>
</a>



<section id="" class="cover-spectacle">
    <div class="singlebox blackfade">
        <main class="suzy-container">
            <div class="suzy-content">
                <div class="flatbox">
                    <div class="inner">
                        <h1>1336 (parole de fralibs)</h1>
                        <h3>Philippe Durand</h3>
                        <p>Derrière « 1336 » se cache un décompte de jours de lutte, ceux passés de la fermeture de
                            l’usine Fralib jusqu’à la fin du conflit entre Unilever et les ouvriers du groupe fabriquant
                            les thés Lipton et Éléphant. 1336 est aussi aujourd’hui la nouvelle marque des thés produits
                            par la SCOP qu’ils ont créée en 2015. 1336 (parole de Fralibs) raconte ce combat de David et
                            Goliath modernes. Après Paroles de Stéphanois, Philippe Durand prête sa voix à ces hommes et
                            femmes qui, attachés à leur travail et refusant la fatalité, ont fait plier le géant
                            économique. Le comédien donne corps aux rencontres qu’il a faites, aux interviews qu’il a
                            menées auprès des Fralibs dans leur usine, à Gémenos près de Marseille, en gardant leurs
                            paroles intactes. Cette épopée sociale, humaine, retrace les grands faits de cette aventure
                            collective et rend un vibrant hommage au courage, à la pugnacité de ces ouvriers sauvant
                            leur emploi et leur savoir-faire artisanal.</p>
                    </div>
                </div>
            </div>
            <aside class="suzy-aside last">
                <div class="flatbox">
                    <div class="inner">
                        <ul id="infos" class="">
                            <ul class="date"><i class="far fa-calendar fa-1x"></i> Séances
                                <li>mardi 19 novembre [20h]</li>
                                <li>mercredi 20 novembre [20h]</li>
                            </ul>
                            <ul class=""><i class="far fa-tag fa-1x"></i> Infos
                                <li class="mention">Tout public à partir de 15 ans | durée 1h30</li>
                                <li class="info"> espace théâtre | Théâtre</li>
                                <li class="">Tarif A</li>
                            </ul>
                            <ul class="distribution"><i class="far fa-users fa-1x"></i> Distribution
                                <li>Création, interprétation : </li>
                                <li>Philippe Durand</li>
                            </ul>
                    </div>
                </div>
            </aside>
        </main>
    </div>
</section>

<section id="" class="section cover-picto">

    <div class="suzy-container">

        <!--
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/kGztlcQbtNI" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    -->

        <aside class="suzy-aside last">
            <div class="box black">
                <div class="inner">
                    <ul id="infos" class="">
                        <li class="artiste">Philippe Durand</li><br>
                        <ul class="date"><span class="title"><i class="far fa-calendar fa-1x"></i> Séances</span>
                            <li>mardi 19 novembre [20h]</li>
                            <li>mercredi 20 novembre [20h]</li>
                        </ul><br>
                        <ul class=""><span class="title"><i class="far fa-tag fa-1x"></i> Infos</span>
                            <li class="mention">Tout public à partir de 15 ans | durée 1h30</li>
                            <li class="info"> espace théâtre | Théâtre</li>
                            <li class="">Tarif A</li>
                        </ul>
                        <ul class="distribution"><span class="title"><i class="far fa-users fa-1x"></i>
                                Distribution</span>
                            <li>Création, interprétation : </li>
                            <li>Philippe Durand</li>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="box white row">
                <div class="inner">
                    <ul class="distribution"><i class="far fa-users fa-1x"></i> Distribution
                        <li>Création, interprétation : </li>
                        <li>Philippe Durand</li>
                    </ul>
                </div>
            </div>
            <div id="buy" class="box black row">
                <div class="inner">
                    <a href="#">
                        <h4><i class="far fa-ticket-alt fa-4x"></i></h4>
                        <p> Acheter sa place</p>
                    </a>
                </div>
            </div>
            <div id="video" class="box white row">
                <div class="inner">
                    <a href="#">
                        <h4><i class="far fa-play-circle fa-4x"></i></h4>
                        <p> Video</p>
                    </a>
                </div>
            </div>
        </aside>
        <div class="suzy-content box white">
            <div class="inner">
                <h4>Derrière « 1336 » se cache un décompte de jours de lutte, ceux passés de la fermeture de l’usine
                    Fralib jusqu’à la fin du conflit entre Unilever et les ouvriers du groupe fabriquant les thés Lipton
                    et
                    Éléphant.
                </h4>
                <p>Derrière « 1336 » se cache un décompte de jours de lutte, ceux passés de la fermeture de
                    l’usine Fralib jusqu’à la fin du conflit entre Unilever et les ouvriers du groupe fabriquant
                    les thés Lipton et Éléphant. 1336 est aussi aujourd’hui la nouvelle marque des thés produits
                    par la SCOP qu’ils ont créée en 2015. 1336 (parole de Fralibs) raconte ce combat de David et
                    Goliath modernes. Après Paroles de Stéphanois, Philippe Durand prête sa voix à ces hommes et
                    femmes qui, attachés à leur travail et refusant la fatalité, ont fait plier le géant
                    économique. Le comédien donne corps aux rencontres qu’il a faites, aux interviews qu’il a
                    menées auprès des Fralibs dans leur usine, à Gémenos près de Marseille, en gardant leurs
                    paroles intactes. Cette épopée sociale, humaine, retrace les grands faits de cette aventure
                    collective et rend un vibrant hommage au courage, à la pugnacité de ces ouvriers sauvant
                    leur emploi et leur savoir-faire artisanal.</p>
                <div class="row suzy-cols-2">
                    <article><img src="assets/images/datas/28-phia-menard.jpg" alt=""></article>
                    <article><img src="assets/images/datas/33-salam.jpg" alt=""></article>
                </div>
                <div class="row">
                    <p>
                        Exercitationem recusandae consectetur soluta, autem corrupti labore alias eos quod distinctio,
                        repellendus officiis eaque beatae facere adipisci possimus sed libero sunt laudantium commodi
                        aliquid dignissimos debitis. Praesentium, reprehenderit? Similique recusandae, consectetur nihil
                        fugit error officiis excepturi magni, eum minus temporibus atque inventore numquam optio dolorum
                        laboriosam commodi? Consectetur error dolore quidem sapiente non voluptas rem libero incidunt
                        quo
                        architecto, fugiat impedit praesentium maxime, magnam vel ratione quisquam amet ipsum quod eos
                        saepe
                        numquam magni dolor vero. Impedit at, mollitia eos debitis eaque perspiciatis facilis alias enim
                        distinctio ipsam quos repellat harum explicabo.</p>
                </div>
                <div class="row">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, hic.</h2>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->