---
layout: default.hbs
title: single
---


{{>nav addId='-bottom'}}
{{!>nav}}




<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->


<a href="#">
    <div class="timeline-previous">
        <i class="fa fa-chevron-left"></i>

        <span class="timeline-content"><img src="assets/images/datas/33-salam.jpg" alt="">Melissa Laveaux + Botibol
            <br /> vendredi 14 novembre</span>
    </div>
</a>

<a href="#">
    <div class="timeline-next">
        <i class="fa fa-chevron-right"></i>

        <span class="timeline-content"><img src="assets/images/datas/67-candide.jpg" alt="">Melissa Laveaux + Botibol
            <br /> vendredi 14 novembre</span>
    </div>
</a>




<section id="section-1" class="">
    <header id="single-header">
        <img src="assets/images/datas/46-amadani.jpg" alt="">

    </header>
    <div class="singlebox">
        <main class="suzy-container">
            <div class="suzy-content">
                <div class="flatbox">
                    <div class="inner">
                        <h1>1336 (parole de fralibs)</h1>
                        <h3>Philippe Durand</h3>
                        <p>Derrière « 1336 » se cache un décompte de jours de lutte, ceux passés de la fermeture de
                            l’usine Fralib jusqu’à la fin du conflit entre Unilever et les ouvriers du groupe
                            fabriquant
                            les thés Lipton et Éléphant. 1336 est aussi aujourd’hui la nouvelle marque des thés
                            produits
                            par la SCOP qu’ils ont créée en 2015. 1336 (parole de Fralibs) raconte ce combat de
                            David et
                            Goliath modernes. Après Paroles de Stéphanois, Philippe Durand prête sa voix à ces
                            hommes et
                            femmes qui, attachés à leur travail et refusant la fatalité, ont fait plier le géant
                            économique. Le comédien donne corps aux rencontres qu’il a faites, aux interviews qu’il
                            a
                            menées auprès des Fralibs dans leur usine, à Gémenos près de Marseille, en gardant leurs
                            paroles intactes. Cette épopée sociale, humaine, retrace les grands faits de cette
                            aventure
                            collective et rend un vibrant hommage au courage, à la pugnacité de ces ouvriers sauvant
                            leur emploi et leur savoir-faire artisanal.</p>
                    </div>
                </div>
            </div>
            <aside class="suzy-aside last">
                <div class="flatbox">
                    <div class="inner">
                        <ul id="infos" class="">
                            <ul class="date"><i class="far fa-calendar fa-1x"></i> Séances
                                <li>mardi 19 novembre [20h]</li>
                                <li>mercredi 20 novembre [20h]</li>
                            </ul>
                            <ul class=""><i class="far fa-tag fa-1x"></i> Infos
                                <li class="mention">Tout public à partir de 15 ans | durée 1h30</li>
                                <li class="info"> espace théâtre | Théâtre</li>
                                <li class="">Tarif A</li>
                            </ul>
                            <ul class="distribution"><i class="far fa-users fa-1x"></i> Distribution
                                <li>Création, interprétation : </li>
                                <li>Philippe Durand</li>
                            </ul>
                    </div>
                </div>
            </aside>
        </main>
    </div>




</section>

<section>
    <main class="suzy-container">
        <div class="row">
            <div class="suzy-cols-3">
                <article><img src="assets/images/datas/46-amadani.jpg" alt=""></article>
                <article><img src="assets/images/datas/38-blindsuns.jpg" alt=""></article>
                <article><img src="assets/images/datas/28-phia-menard.jpg" alt=""></article>
            </div>
        </div>
        <div class="row">

            <h3>Titre spectacle</h3>
            <h5>Mentions</h3>
                <h6>Infos</h6>

                <p>Deserunt, laborum? Fugiat, distinctio omnis officiis facere commodi, enim fugit laborum numquam
                    repellat
                    pariatur, id sint nihil fuga ipsum quam provident odit. Fugiat quis a deserunt ex veritatis placeat
                    delectus
                    voluptas optio doloribus sunt, beatae, eius minima accusamus dolorem quibusdam! Dicta, accusantium
                    libero
                    quaerat dolore blanditiis quos maxime soluta deleniti nisi commodi repudiandae aspernatur veniam
                    error enim,
                    ea cupiditate rem odio qui animi? Amet alias optio commodi tenetur, fuga aperiam maxime ullam
                    explicabo et
                    iste laudantium corrupti temporibus unde modi architecto fugit repudiandae distinctio aut, assumenda
                    totam
                    officiis asperiores voluptatum. Error incidunt asperiores vitae voluptatibus, perspiciatis
                    doloremque deserunt
                    suscipit soluta esse rem. Est, harum incidunt. Optio iste minima incidunt accusamus deleniti
                    sapiente,
                    assumenda quod explicabo ea similique dolores perspiciatis repudiandae vel reiciendis itaque eos
                    voluptatem
                    hic, ipsam magnam dignissimos corporis error ipsa adipisci. Ipsum velit, culpa nobis, hic
                    reprehenderit error
                    reiciendis saepe necessitatibus deserunt corrupti ducimus alias voluptatibus fugiat vero maiores
                    itaque natus
                    animi autem facere at repudiandae. Expedita veniam delectus accusantium. Ullam delectus vitae
                    mollitia impedit
                    ipsum debitis aliquam, modi minima, deleniti esse obcaecati? Pariatur ipsa laborum vel!
                    Necessitatibus ipsam
                    maiores minima veniam impedit, ullam rem voluptates atque obcaecati a at nostrum porro blanditiis
                    aperiam,
                    molestias consequuntur nihil voluptate, odit soluta dolore et natus illum. Reprehenderit libero
                    pariatur
                    ducimus quae magnam id expedita voluptates animi nihil, vero a aliquam error porro obcaecati eum,
                    esse
                    explicabo reiciendis molestias dignissimos facere labore quo. Modi quaerat voluptas totam incidunt
                    commodi
                    placeat, aliquam voluptatem laboriosam labore veritatis tenetur illo consectetur mollitia blanditiis
                    voluptates ipsam! Repellendus, odit explicabo quo, laudantium accusantium fuga ab doloribus
                    repudiandae
                    dignissimos nemo distinctio earum mollitia sapiente culpa! Explicabo reiciendis recusandae
                    voluptatum nulla
                    vel, soluta dicta tempore ipsam nam? Ipsa, quo soluta necessitatibus reiciendis veritatis magnam
                    labore
                    tenetur saepe ullam consequuntur, libero iure provident eligendi! Optio, unde commodi, eius quia
                    numquam illo
                    inventore libero, dolore consequatur laborum aperiam incidunt nihil aliquid!</p>
        </div>
        <div class="suzy-cols-2">
            <article><img src="assets/images/datas/28-phia-menard.jpg" alt=""></article>
            <article><img src="assets/images/datas/28-phia-menard.jpg" alt=""></article>
        </div>
        <ul class="photo">
            <li><a class="photo-item" data-fancybox="group-1" data-caption="Texte texte texte texte texte"
                    href="assets/images/datas/blog-6-1.jpg"><span class="button-border">Diaporama</span></a></li>
            <li><a class="photo-item" data-fancybox="group-1" data-caption="Texte texte texte"
                    href="assets/images/datas/blog-6-2.jpg"></a></li>
            <li><a class="photo-item" data-fancybox="group-1" data-caption="Texte texte texte"
                    href="assets/images/datas/blog-6-3.jpg"></a></li>
            <li><a class="photo-item" data-fancybox="group-1" data-caption="Texte texte texte"
                    href="assets/images/datas/blog-6-4.jpg"></a></li>
            <li><a class="photo-item" data-fancybox="group-1" data-caption="Texte texte texte"
                    href="assets/images/datas/blog-6-5.jpg"></a></li>
            <li><a class="photo-item" data-fancybox="group-1" data-caption="Texte texte texte"
                    href="assets/images/datas/blog-6.jpg"></a></li>
        </ul>




    </main>

    <div class="suzy-container">
        <div class="suzy-gallery blog">

            {{>template-musique image="33-salam.jpg" color="primary"}}
            {{>template-musique image="33-salam.jpg" color="primary"}}
            {{>template-musique image="33-salam.jpg" color="primary"}}

        </div>
    </div>
</section>





<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->