---
layout: default.hbs
title: Type
---


{{>nav addId='-bottom'}}
{{!>nav}}

<header id="header">
    <h1>Test</h1>
</header>

<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section id="section-1" class="visual-grid">
    <div class="suzy-container">

        <h1>1336 (parole de fralibs)</h1>
        <h2>Philippe Durand</h2>
        <h3>Tout public à partir de 15 ans | durée 1h30</h3>
        <h4>mardi 19 novembre [20h]</h4>
        <h5>Derrière « 1336 » se cache un décompte de jours de lutte, ceux passés de la fermeture de l’usine Fralib
            jusqu’à la fin du conflit entre Unilever et les ouvriers du groupe fabriquant les thés Lipton et Éléphant.
        </h5>
        <h6>espace théâtre | Théâtre | <a href="">Tarif A</a></h6>
        <p class="title">Title</p>
        <div class="column row">
            <p>1336 est aussi aujourd’hui la nouvelle marque des thés produits par la SCOP qu’ils ont créée en 2015.
                1336
                (parole de Fralibs) raconte ce combat de David et Goliath modernes. Après Paroles de Stéphanois,
                Philippe
                Durand prête sa voix à ces hommes et femmes qui, attachés à leur travail et refusant la fatalité, ont
                fait
                plier le géant économique. Le comédien donne corps aux rencontres qu’il a faites, aux interviews qu’il a
                menées auprès des Fralibs dans leur usine, à Gémenos près de Marseille, en gardant leurs paroles
                intactes.
                Cette épopée sociale, humaine, retrace les grands faits de cette aventure collective et rend un vibrant
                hommage au courage, à la pugnacité de ces ouvriers sauvant leur emploi et leur savoir-faire artisanal.<a
                    href="">ipsum</a> dolor sit amet consectetur adipisicing elit. Magnam, quod quia ullam est
                consequatur
                sed dolor expedita voluptas iste vel nobis mollitia sint aliquid quas ad possimus temporibus excepturi?
                Soluta.</p>
        </div>
        <div><img src="assets/images/datas/46-amadani.jpg" alt=""></div>
        <div class="box primary">
            <div class="inner">
                <h1>Lorem ipsum dolor sit.</h1>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                <p>Lorem ipsum <span class="label-white">dolor sit amet</span> consectetur adipisicing elit. Ipsum
                    nisi fugiat laborum quae. Nemo
                    similique at sunt odio, consequuntur cupiditate doloribus a maiores, eum, amet eaque vitae
                    tenetur autem. Totam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia ab
                    <a class="button primary" href="">Boutton</a>blanditiis, itaque dicta corrupti voluptate iste ipsa
                    autem voluptatem, debitis odio vero
                    aliquam ducimus, odit asperiores illum exercitationem nemo. Sunt. Lorem ipsum, dolor sit amet
                    consectetur <a class="button third" href="">Boutton</a>adipisicing elit. Eius aliquid sit iste totam
                    iure culpa quos earum ipsum? Similique
                    amet ipsum quasi aliquid officiis aperiam sed cum totam aspernatur fugiat! Lorem ipsum dolor sit
                    amet, consectetur <a class="button dark" href="">Boutton</a>adipisicing elit. Molestias quam odio
                    ullam
                    recusandae dolore voluptate iure,
                    architecto, tempora quasi repudiandae ea odit voluptatem, quibusdam doloremque ab animi illo
                    possimus distinctio?<a class="button primaryfade" href="">Boutton</a></p>
            </div>
        </div>
        <div class="row">
            <ul>
                <li>1</li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">6</a></li>
                <li><a href="">7</a></li>
                <li><a href="">8</a></li>
                <li><a href="">9</a></li>
                <li><a href="">10</a></li>
            </ul>
        </div>
        <div class="row">
            <a class="button primary" href="">Boutton</a>
            <a class="button minor" href="">Boutton</a>
            <a class="button dark" href="">Boutton</a>
            <a class="button blackfade" href="">Boutton</a>
            <a class="button primaryfade" href="">Boutton</a>
        </div>
        <div class="row">
            <a class="label-primary" href="">Label</a>
            <a class="label-minor" href="">Label</a>
            <a class="label-third" href="">Label</a>
            <a class="label-black" href="">Label</a>

        </div>
</section>
<section id="section-2" class="visual-grid">
    <div class="suzy-container suzy-gallery">

        <article class="flatbox primary">
            <header>
                <h1>Lorem ipsum dolor sit.</h1>
            </header>
            <main>
                <h1>Lorem ipsum dolor sit.</h1>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nisi fugiat laborum quae. Nemo
                    similique at sunt odio, consequuntur cupiditate doloribus a maiores, eum, amet eaque vitae
                    architecto, tempora quasi repudiandae ea odit voluptatem, quibusdam doloremque ab animi illo
                    possimus distinctio?</p>
            </main>
            <footer>
                <p>Lorem ipsum dolor sit.</p>
            </footer>
        </article>
        <article class="flatbox minor">
            <header>
                <h1>Lorem ipsum dolor sit.</h1>
            </header>
            <main>
                <h1>Lorem ipsum dolor sit.</h1>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nisi fugiat laborum quae. Nemo
                    similique at sunt odio, consequuntur cupiditate doloribus a maiores, eum, amet eaque vitae
                    tenetur autem. Totam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia ab
                    blanditiis, itaque dicta corrupti voluptate iste ipsa autem voluptatem, debitis odio vero
                    aliquam ducimus, odit asperiores illum exercitationem nemo. Sunt. Lorem ipsum, dolor sit
                    amet
                    consectetur adipisicing elit. Eius aliquid sit iste totam iure culpa quos earum ipsum?
                    Similique
                    amet ipsum quasi aliquid officiis aperiam sed cum totam aspernatur fugiat! Lorem ipsum dolor
                    sit
                    amet, consectetur adipisicing elit. Molestias quam odio ullam recusandae dolore voluptate
                    iure,
                    architecto, tempora quasi repudiandae ea odit voluptatem, quibusdam doloremque ab animi illo
                    possimus distinctio?</p>
            </main>
            <footer>
                <p>Lorem ipsum dolor sit.</p>
            </footer>
        </article>
        <article class="flatbox third">
            <header>
                <h1>Lorem ipsum dolor sit.</h1>
            </header>
            <main>
                <h1>Lorem ipsum dolor sit.</h1>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nisi fugiat laborum quae. Nemo
                    similique at sunt odio, consequuntur cupiditate doloribus a maiores, eum, amet eaque vitae
                    tenetur autem. Totam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia ab
                    blanditiis, itaque dicta corrupti voluptate iste ipsa autem voluptatem, debitis odio vero
                    aliquam ducimus, odit asperiores illum exercitationem nemo. Sunt. Lorem ipsum, dolor sit
                    amet
                    consectetur adipisicing elit. Eius aliquid sit iste totam iure culpa quos earum ipsum?
                    Similique
                    amet ipsum quasi aliquid officiis aperiam sed cum totam aspernatur fugiat! Lorem ipsum dolor
                    sit
                    amet, consectetur adipisicing elit. Molestias quam odio ullam recusandae dolore voluptate
                    iure,
                    architecto, tempora quasi repudiandae ea odit voluptatem, quibusdam doloremque ab animi illo
                    possimus distinctio?</p>
            </main>
            <footer>
                <p>Lorem ipsum dolor sit.</p>
            </footer>
        </article>
        <article class="box white">
            <header>
                <h1>Lorem ipsum dolor sit.</h1>
            </header>
            <main>
                <h1>Lorem ipsum dolor sit.</h1>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nisi fugiat laborum quae. Nemo
                    similique at sunt odio, consequuntur cupiditate doloribus a maiores, eum, amet eaque vitae
                    tenetur autem. Totam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia ab
                    blanditiis, itaque dicta corrupti voluptate iste ipsa autem voluptatem, debitis odio vero
                    aliquam ducimus, odit asperiores illum exercitationem nemo. Sunt. Lorem ipsum, dolor sit
                    amet
                    consectetur adipisicing elit. Eius aliquid sit iste totam iure culpa quos earum ipsum?
                    Similique
                    amet ipsum quasi aliquid officiis aperiam sed cum totam aspernatur fugiat! Lorem ipsum dolor
                    sit
                    amet, consectetur adipisicing elit. Molestias quam odio ullam recusandae dolore voluptate
                    iure,
                    architecto, tempora quasi repudiandae ea odit voluptatem, quibusdam doloremque ab animi illo
                    possimus distinctio?</p>
            </main>
            <footer>
                <p>Lorem ipsum dolor sit.</p>
            </footer>
        </article>
        <article class="box primary">
            <header>
                <h1>Lorem ipsum dolor sit.</h1>
            </header>
            <main>
                <h1>Lorem ipsum dolor sit.</h1>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nisi fugiat laborum quae. Nemo
                    similique at sunt odio, consequuntur cupiditate doloribus a maiores, eum, amet eaque vitae
                    tenetur autem. Totam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia ab
                    blanditiis, itaque dicta corrupti voluptate iste ipsa autem voluptatem, debitis odio vero
                    aliquam ducimus, odit asperiores illum exercitationem nemo. Sunt. Lorem ipsum, dolor sit
                    amet
                    consectetur adipisicing elit. Eius aliquid sit iste totam iure culpa quos earum ipsum?
                    Similique
                    amet ipsum quasi aliquid officiis aperiam sed cum totam aspernatur fugiat! Lorem ipsum dolor
                    sit
                    amet, consectetur adipisicing elit. Molestias quam odio ullam recusandae dolore voluptate
                    iure,
                    architecto, tempora quasi repudiandae ea odit voluptatem, quibusdam doloremque ab animi illo
                    possimus distinctio?</p>
            </main>
            <footer>
                <p>Lorem ipsum dolor sit.</p>
            </footer>
        </article>
        <article class="box minor">
            <header>
                <h1>Lorem ipsum dolor sit.</h1>
            </header>
            <main>
                <h1>Lorem ipsum dolor sit.</h1>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nisi fugiat laborum quae. Nemo
                    similique at sunt odio, consequuntur cupiditate doloribus a maiores, eum, amet eaque vitae
                    tenetur autem. Totam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia ab
                    blanditiis, itaque dicta corrupti voluptate iste ipsa autem voluptatem, debitis odio vero
                    aliquam ducimus, odit asperiores illum exercitationem nemo. Sunt. Lorem ipsum, dolor sit
                    amet
                    consectetur adipisicing elit. Eius aliquid sit iste totam iure culpa quos earum ipsum?
                    Similique
                    amet ipsum quasi aliquid officiis aperiam sed cum totam aspernatur fugiat! Lorem ipsum dolor
                    sit
                    amet, consectetur adipisicing elit. Molestias quam odio ullam recusandae dolore voluptate
                    iure,
                    architecto, tempora quasi repudiandae ea odit voluptatem, quibusdam doloremque ab animi illo
                    possimus distinctio?</p>
            </main>
            <footer>
                <p>Lorem ipsum dolor sit.</p>
            </footer>
        </article>
    </div>
</section>